body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f7faff;
  color: #222;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  background: #0b74d0;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.button:hover {
  background: #095a9c;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #0b74d0;
  border-radius: 4px;
}
